<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="h.h.bank.dao.ReplyDAO">

	<insert id="insert" parameterType="Reply">
		INSERT INTO SB_REPLY (replynum, boardnum, custid, text, inputdate)
		VALUES (sb_reply_seq.nextval, #{boardnum}, #{custid}, #{text}, sysdate)
	</insert>

	<update id="update" parameterType="Reply">
		UPDATE SB_REPLY SET text=#{text}, inputdate=sysdate
		WHERE replynum=#{replynum}
	</update>
	
	<delete id="delete" parameterType="int">
		DELETE FROM SB_REPLY WHERE replynum=#{rnum}
	</delete>
	
	<select id="rlist" resultType="Reply" parameterType="int">
	SELECT * FROM SB_REPLY WHERE boardnum=#{boardnum}  ORDER BY INPUTDATE DESC
	</select>
	
</mapper>